
<ul>
  <li><i class="fa-solid fa-chart-line"></i>
    <a class="text-white" href="/admin-dashboard">Dashboard</a>
  </li>
  <li><i class="fa-solid fa-users-line"></i>
    <a class="text-white" href="/admin-user-management">User management</a>
  </li>
  <li><i class="fa-brands fa-product-hunt"></i>
    <a class="text-white" href="/admin-product-management">Product management</a>
  </li>
  <li><i class="fa-solid fa-text-height"></i>
    <a class="text-white" href="/admin-brand-management">Brand management</a>
  </li>
  <li><i class="fa-solid fa-text-height"></i>
    <a class="text-white" href="/admin-category-management">Category management</a>
  </li>
  <li><i class="fa-solid fa-text-height"></i>
    <a class="text-white" href="/admin-color-management">Color management</a>
  </li>
  <li><i class="fa-solid fa-text-height"></i>
    <a class="text-white" href="/admin-size-management">Size management</a>
  </li>
  <li><i class="fa-solid fa-text-height"></i>
    <a class="text-white" href="/admin-coupon-management">Coupon management</a>
  </li>
  <li><i class="fa-solid fa-text-height"></i>
    <a class="text-white" href="/admin-order-management">Order management</a>
  </li>
</ul>