<!-- including admin head  -->
<%- include('../../partials/admin-partials/admin-head.ejs') %>

<body>

  <!-- including admin nav  -->
  <%- include('../../partials/admin-partials/admin-nav.ejs') %>

  <main>
    <div class="container-fluid bg-dark">
      <div class="row">
        <div class="col-12 bg-white text-center py-5">
          <h1 class="text-black my-2 fs-5 fw-bolder">Oops! something went wrong</h1>
          <h1 class="font-size-404 text-danger">404</h1>
          <h2 class="text-black my-5 fs-5 fw-bolder">We are sorry but the page you requested was not found</h2>
          <button type="submit" class="btn-dark border-0 bg-black rounded-3 p-2 px-4">
          <a class="text-decoration-none text-white" href="/user-login">Back to Login Page</a>
        </button>
        </div>
      </div>
    </div>
  </main>

  <!-- including admin footer  -->
  <%- include('../../partials/admin-partials/admin-footer.ejs') %>

</body>

</html>