<!-- including admin head  -->
<%- include('../../partials/user-partials/user-head.ejs') %>

<body>

  <!-- including admin nav  -->
  <%- include('../../partials/user-partials/user-nav.ejs') %>

  <section>
    <div class="container-fluid">
      <div class="row d-flex justify-content-around">
        <div class="col-sm-12 col-md-12 col-lg-6 d-flex justify-content-center align-items-center border-1 border-end">
          <img class="login-image img-fluid" src="/images/login.png" alt="Login page image">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 d-flex justify-content-center align-items-center">
          <div class="loginDiv" style="width: 500px;">
            <h4 class="text-center text-danger font-size-bold-title">Create new password</h4>

            <!-- sent email flashing start -->
            <% if (message) { %>
            <h6 id="flash" class="text-center text-success animate__animated animate__flash font-size mt-5"><%= message %></h6>
            <% } %>
            <!-- sent email flashing end -->

            <form id="loginForm" name="resetPassword" onsubmit="formValidate(event)" action="/user-reset-password" method="POST">
              <div class="mb-3">
                <label for="newPassword" class="form-label text-black font-size">New password<span class="text-danger">*</span></label>
                <input oninput="validateNewPassword()" type="password" class="form-control bg-white text-black font-size" id="newPassword" name="newPassword" required>
                <span id="newPasswordError" class="text-danger font-size"></span>
              </div>
              <div class="mb-3">
                <label for="confirmPassword" class="form-label text-black font-size">Confirm password<span class="text-danger">*</span></label>
                <input oninput="checkPassword()" type="password" class="form-control bg-white text-black font-size" id="confirmPassword" name="confirmPassword" required>
                <span id="confirmPasswordError" class="text-danger font-size"></span>
              </div>
              <div class="text-center mb-3 d-flex flex-column justify-content-center align-items-center">
                <button id="submitButton" type="submit" class="btn btn-danger my-3 text-white font-size-bold">Confirm</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <script>
      function validateNewPassword() {
        let newPassword = document.forms['resetPassword']['newPassword'].value;
        let strongPasswordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
        if (!strongPasswordRegex.test(newPassword)) {
          document.getElementById('newPasswordError').innerText = "Password must be strong (at least 8 characters, including uppercase, lowercase, digit, and special character)";
        } else {
          document.getElementById('newPasswordError').innerText = "";
        }
      }

      function checkPassword() {
        let newPassword = document.forms['resetPassword']['newPassword'].value;
        let confirmPassword = document.forms['resetPassword']['confirmPassword'].value;
        if (newPassword !== confirmPassword) {
          document.getElementById('confirmPasswordError').innerText = "New password and confirm password are must be the same";
        } else {
          document.getElementById('confirmPasswordError').innerText = "";
        }
      }

      function formValidate(event) {
        event.preventDefault()
        validateNewPassword()
        checkPassword()
        let newPasswordError = document.getElementById('newPasswordError').innerText;
        let confirmPasswordError = document.getElementById('confirmPasswordError').innerText;
        let submitButton = document.getElementById('submitButton');
        if (!(newPasswordError || confirmPasswordError)) {
          document.forms['resetPassword'].submit();
        }
      }
    </script>
  </section>
  <!-- including admin footer  -->
  <%- include('../../partials/user-partials/user-footer.ejs') %>

</body>

</html>
