<!-- including admin head  -->
<%- include('../../partials/user-partials/user-head.ejs') %>

<body>

  <!-- including admin nav  -->
  <%- include('../../partials/user-partials/user-nav.ejs') %>

  <section>
    <div class="container-fluid">
      <div class="row d-flex justify-content-around">
        <div class="col">
          <p class="text-black font-size">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Step into a world of fashion where every garment is a reflection of your unique style and a source of pride. Our meticulously curated collection of clothing is crafted to suit diverse tastes, ensuring that each piece is not just an outfit but an expression of individuality. From sophisticated classics to the latest trends, we take joy in presenting an array of choices that resonate with your personal style journey.

            Currently, our focus is on providing an exclusive experience for men, showcasing thoughtfully designed collections that cater to the diverse preferences and needs of the modern man. Embrace the confidence that comes with wearing clothes tailored to perfection, and explore the richness of our men's fashion offerings that celebrate the essence of your style.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- including admin footer  -->
  <%- include('../../partials/user-partials/user-footer.ejs') %>

</body>

</html>