<div class="col-12 border rounded-3 p-3">
  <div>
    <p class="text-black font-size-bold">Manage my account</p>
    <div class="font-size">
      <a class="text-black text-decoration-none" href="/user-dashboard">
        <p class="ps-3">My profile</p>
      </a>
      <a class="text-black text-decoration-none" href="/user-dashboard-address-book">
        <p class="ps-3">My address book</p>
      </a>
      <a class="text-black text-decoration-none" href="/user-dashboard-wallet">
        <p class="ps-3">My wallet</p>
      </a>
      <a class="text-black text-decoration-none" href="/user-dashboard-cart">
        <p class="ps-3">My cart</p>
      </a>
      <a class="text-black text-decoration-none" href="/user-dashboard-wish-lists">
        <p class="ps-3">My wish lists</p>
      </a>
    </div>
  </div>
  <div>
    <p class="text-black font-size-bold">Manage my orders</p>
    <div class="font-size d-flex flex-column justify-content-center align-items-start">
      <a class="text-black text-decoration-none" href="/user-dashboard-orders">
        <p class="ps-3">My orders</p>
      </a>
      <a class="text-black text-decoration-none" href="/user-dashboard-returns">
        <p class="ps-3">My returns</p>
      </a>
      <a class="text-black text-decoration-none" href="/user-dashboard-cancellations">
        <p class="ps-3">My cancellations</p>
      </a>
    </div>
  </div>
</div>