  <nav>
    <div class="container-fluid border border-bottom-1">
      <div class="row justify-content-between">
        <div class="navbar-part-1 py-2 col-lg-2 col-sm-12 order-lg-1 bg-white text-center d-flex justify-content-evenly align-items-center">
          <a class="fs-3 fw-bold text-decoration-none text-black" href="#">cloth<span class="fw-bold">STORE</span></a>
        </div>
        <!-- <div class="navbar-part-3 py-2 col-lg-5 col-sm-12 order-lg-3 d-flex justify-content-center align-items-center ">
          <div class="search w-100">
            <form action="" method="post" class="d-flex justify-content-center align-items-center">
              <input class="rounded-start border-black border-1 w-100 text-center border-end-0" type="search" placeholder="search for products" aria-label="Search" style="height: 40px;">
              <button class="border-0 border-black bg-black rounded-end" type="submit" style="height: 40px;">
                <i class="fa-solid fa-magnifying-glass border-1 px-3" style="color: #ffffff;"></i>
              </button>
            </form>
          </div>
        </div> -->
      </div>
    </div>
  </nav>